$ds_green: #5bac4d;
$ds_green_two: #38ac3c;
$ds_green_three: #6cd28c;
$ds_green_four: #05b312;
$ds_green_lighest: #f2f8f1;
$ds_blue: #0679ff;
$ds_blue_two: #6bcfff;
$ds_blue_three: #28d7c3;
$ds_ligth_pink: #e592c6;
$ds_pink: #ff2c54;
$ds_orange: #f76d1e;
$ds_yellow: #ffd747;
$ds_gray: #3d3d3d;
$ds_gray_two: #666666;
$ds_gray_three: #a3a3a3;
$ds_gray_four: #cccccc;
$ds_gray_five: #ebebeb;
$ds_gray_six: #f5f5f5;
$ds_red: #ff2710;
$ds_red_two: #ffeeec;
$announcement_background: #f9ffed;

$rgba_green: rgba(9, 205, 24, 0.08);
$rgba_black_shadow: rgba(0, 0, 0, 0.04);
$rgba_black_shadow_two: rgba(0, 0, 0, 0.16);
$rgba_black_shadow_three: rgba(0, 0, 0, 0.08);
$rgba_black_shadow_four: rgba(0, 0, 0, 0.14);
$rgba_black_shadow_five: rgba(0, 0, 0, 0.24);
$rgba_gray_shadow: rgba(61, 61, 61, 0.4);
$rgba_gray_shadow_two: rgba(163, 163, 163, 0.12);
$rgba_white_transparent: rgba(255, 255, 255, 0.9);
