@import "../../css/colors.scss";

.ds.st-button {
  align-content: center;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 14px;
  justify-content: center;
  line-height: 24px;
  text-decoration: none;
  transition: 0.2s background-color;
  width: 100%;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.32;
    outline: none;
  }

  &.default {
    padding: 8px 20px;
  }

  &.large {
    font-size: 16px;
    padding: 12px 20px;
  }

  &.small {
    padding: 4px 12px;
  }

  &.smaller {
    padding: 2px 12px;
  }

  &.smallest {
    padding: 0px 8px;
  }

  &.primary {
    box-shadow: 0 2px 4px 0 $rgba_black_shadow_two;
    color: white;
    background-color: $ds_green;

    &:hover:not(:disabled) {
      background-color: darken($ds_green, 20%);
    }

    &.red {
      background-color: $ds_red;

      &:hover:not(:disabled) {
        background-color: darken($ds_red, 10%);
      }
    }
  }

  &.secondary {
    border: 1px solid $ds_green;
    color: $ds_green;

    &:hover:not(:disabled) {
      background-color: $rgba_green;
    }

    &.red {
      border: 1px solid $ds_red;
      color: $ds_red;

      &:hover:not(:disabled) {
        background-color: lighten($ds_red, 40%);
      }
    }
  }

  &.ghost {
    color: $ds_green;

    &:hover:not(:disabled) {
      color: darken($ds_green, 20%);
    }

    &.red {
      color: $ds_red;

      &:hover:not(:disabled) {
        background-color: lighten($ds_red, 40%);
      }
    }
  }

  &.gray {
    border: 1px solid $ds_gray_four;
    color: $ds_gray;

    &:hover:not(:disabled) {
      background-color: $ds_gray_six;
    }

    &.red {
      border: 1px solid $ds_red;
      color: $ds_red;

      &:hover:not(:disabled) {
        background-color: lighten($ds_red, 40%);
      }
    }
  }
}
