@import "../../css/colors.scss";


.st-alert__container {
  align-content: center;
  background-color: rgba(#ff2710, 0.1);
  border-left: 8px solid $ds_red;
  display: flex;
  margin-top: 32px;
  padding: 12px;

  &__text {
    color: $ds_gray;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.71;
    margin: 0;
    margin-left: 8px;
  }
}
